/* ==================================================
* GazeImg v1.4.1
* 
* 采用 GPLv3 许可证供开源使用
* 或用于商业用途的 GazeImg 商业许可证
* 所有商业应用程序（包括您计划出售的网站，主题和应用程序）
* 都需要具有商业许可证。
*
* Licensed GPLv3 for open source use
* or GazeImg Commercial License for commercial use
*
* http://www.ganxiaozhe.com/p/gazeimg/
* Copyright 2020 Ganxiaozhe
*
================================================== */
img[data-giwait-text],img[data-gionload] {filter: brightness(.2);transition: filter 1s ease-in;}
img[data-gazeimg],.gazeimg-content[data-rlong="n"] img {cursor: pointer;}
.gazeimg-content[data-rlong="y"] img {cursor: zoom-in !important;}
.gazeimg-content[data-gzoom="out"] img {cursor: zoom-out;}

.gi-darken {
	filter: brightness(1);animation:gia-darken 2s infinite linear alternate-reverse;
	display: flex;align-items: center;justify-content: center;
	vertical-align: top;overflow: hidden;position: relative;
}
.gi-darken.gi-failload {animation: none;}
.gi-darken a {display: block;text-decoration: none;color: #fff !important;text-align: center;word-break: break-all;}
@-webkit-keyframes gia-darken {to{filter: brightness(.75);}}
@keyframes gia-darken {to{filter: brightness(.75);}}

.gi-zoomIn {animation: gia-zoomIn 1s cubic-bezier(0, 0, 0, 1) 1;}
@-webkit-keyframes gia-zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
@keyframes gia-zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}

.gi-fadeIn {animation: gia-fadeIn 0.3s cubic-bezier(0, 0, 0, 1) 1;}
@-webkit-keyframes gia-fadeIn{0%{opacity:0;}100%{opacity:1}}
@keyframes gia-fadeIn{0%{opacity:0;}100%{opacity:1}}

.gazeimg-nobar {overflow: hidden;height: auto;}
.gazeimg-container {
	position: fixed;left: 0;top: 0;height: 100%;width: 100%;
	outline: none;z-index: 20020214;transition-duration: 0.35s;
}
.gazeimg-bg {
	background: rgb(20,20,20);opacity: 0.9;
	transition-property: opacity;transition-duration: inherit;transition-timing-function: cubic-bezier(.5, 0, .7, .7);
}
.gazeimg-bg,.gazeimg-inner {
	position: absolute;top: 0;left: 0;bottom: 0;right: 0;
}
.gazeimg-stage {
	direction: ltr;transform: translateZ(0);
	width:100%;height:100%;padding:50px 0;
}
.gazeimg-content {
	position: absolute;top:0;left:0;width:38px;height:38px;overflow: visible;
	transform-origin: center;
	transition: height 0.3s ease,width 0.3s ease;
}
.gazeimg-content img {
	width:100%;height:100%;max-width:100%;max-height:100%;overflow: hidden;
	position: absolute;top: 0;left: 0;
	border:none;padding:0;margin:0;
	user-select: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
}
.gazeimg-content .loader,.gilazy-loader {
	display: block;width: 46px;height: 46px;
	position: absolute;top:calc(50% - 23px);left:calc(50% - 23px);
	border: 4px solid #f3f3f3;border-radius: 100%;
	border-top: 4px solid transparent;
	transition: border 0.3s ease;
}

.gi-spin {-webkit-animation:gi-spin 0.8s infinite linear;animation:gi-spin 0.8s infinite linear;}
@-webkit-keyframes gi-spin{
	0%{-webkit-transform:rotate(0);transform:rotate(0);}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes gi-spin{
	0%{-webkit-transform:rotate(0);transform:rotate(0);}
	100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
