@charset 'utf-8';

:root {
	--theme-color: #4D90FE;
}

body {
	width: 100%;
	background: #fcfcfc;
	font-family: 'Noto Sans SC',sans-serif;
}

hr {
	margin: 30px 0;
	border: none;
	border-bottom: 1px solid #dcdcdc;
}

.miracles-pannel {
	margin: 40px 0;
	margin-top: 10px;
	padding: 28px 30px;
	border-radius: 5px;
	background: rgba(90,90,90,.8);
	-webkit-box-shadow: 0 2px 8px #ddd;
	-moz-box-shadow: 0 2px 8px #ddd;
	box-shadow: 0 2px 8px #ddd;
	color: #fff;
}

.miracles-pannel a {
	position: relative;
	color: #fafafa;
}

.miracles-pannel a:hover {
	text-decoration: none;
}

.miracles-pannel a::before {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 2px;
	background-color: #fafafa;
	content: '';
	transition: transform .5s ease;
	transform: scaleX(0);
	transform-origin: bottom right;
}

.miracles-pannel a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.tongzhi {
	bottom: 0;
	left: 50%;
    transform: translate(-50%, 0px);
    z-index: 10;
    padding: 1em;
    position: fixed;
	color: #fff;
    background: rgba(50,50,50,.95);
    border-radius: 2px;
    margin: 0 auto 1em auto;
    box-shadow: 0 2px 6px gray;
    transition: .2s;
	-webkit-animation: slideDown 0.2s ease forwards;
	animation: slideDown 0.3s ease forwards;
	max-width: 520px;
	text-align: center;
	font-size: 1.06em
}

.waiting {
	color: rgb(230,230,230)
}

@-webkit-keyframes slideDown {
    0%{
        bottom: -100px;
    }
    25%{
        bottom: -50px;
    }
    50%{
        bottom: 0;
    }
    100%{
        bottom: 50px;
    }
}

.miracles-backup-div {
	margin: 15px 0;
	margin-bottom: 0
}

.miracles-backup-button {
	padding: 6px 10px;
	border: none;
	border-radius: 2px;
	background: #646464;
	-webkit-box-shadow: 0 1px 1px #000;
	-moz-box-shadow: 0 1px 1px #000;
	box-shadow: 0 1px 1px #000;
	color: #fff;
	cursor: pointer;
}

.miracles-para-attention {
	padding: 10px 12px;
	border-radius: 3px;
	background: red;
	color: #fff;
}

::-webkit-scrollbar {
	width: 6px;
	height: 5px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: gray;
}

.typecho-head-nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 15px 0;
	-webkit-box-shadow: 0 0 30px #ddd;
	-moz-box-shadow: 0 0 30px #ddd;
	box-shadow: 0 0 30px #ddd;
	font-size: 15px;
	z-index: 10
}

.typecho-page-title {
	visibility: hidden;
	margin-top: 90px;
}

.typecho-option .btn,.typecho-option li input,.typecho-option li select,.typecho-option li textarea {
	padding: 10px 12px;
	border-color: #ddd;
	border-radius: 4px;
	background: #fff;
	-webkit-box-shadow: 0 1px 5px #ddd;
	-moz-box-shadow: 0 1px 5px #ddd;
	box-shadow: 0 1px 5px #ddd;
	outline: none;
}

.typecho-option li select {
	padding: 0 4px;
	min-width: 100px;
}

.typecho-option li textarea {
	height: 160px!important;
	resize: none;
}

.typecho-option li .typecho-label {
	margin: 15px 0;
	margin-top: 20px;
	letter-spacing: 1px;
	font-size: 15px;
}

.typecho-option .btn {
	position: fixed;
	bottom: 15px;
	right: 15px;
	border-radius: 4px;
	background: #000;
	box-shadow: 0 0 6px #bababa;
	padding: 8px 14px;
	font-size: 1.1em
}

.wmd-button-row {
	height: auto!important
}

input#slug {
	z-index: 1
}

@media (min-width:768px) {
	.typecho-option-tabs {
		margin-left: 122px;
	}
}

@media (min-width:992px) {
	.typecho-option-tabs {
		margin-left: 160px;
	}
}

@media (min-width:1200px) {
	.typecho-option-tabs {
		margin-left: 194px;
	}
}
#edit-secondary .typecho-option-tabs {
	margin-left: 0!important
}